.home {
  height: 100vh;
  background: url("/fondo-home.png") no-repeat center center/cover;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 5%;
  position: relative;
  color: #fff;
}

.overlay {
  max-width: 600px;
}

.subtitle {
  font-size: 1.7rem;
  margin-bottom: 10px;
  font-family: 'Lora', serif;
  font-weight: 400; 
}

.title {
  font-size: 4rem;  
  margin-bottom: 30px;
  line-height: 1.2;
  font-family: 'Lora', serif;
  font-weight: 700;
}

.btn-home {
  background-color: #b07a5e;
  padding: 14px 28px;
  border-radius: 4px;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  transition: background 0.3s ease; 
  font-size: large;
}

.btn-home:hover {
  background-color: #8c5f45;
}

.btn-wrapper {
  margin-top: 100px; 
}

